.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
webview/src/**
webview/node_modules/**
webview/.vscode/**
webview/dist/**
webview/*.json
webview/*.html
webview/*.md
